@model RBAC.Models.User
<span class="logo">RBAC Demo</span>
<span class="right">
    欢迎 @Model.UserName
    @Html.DropDownList("role-select", (IEnumerable <SelectListItem>) ViewBag.RoleSelect)
    @Html.ActionLink("注销", "Logout")
</span>
